@use 'options';

html {
  background-color: options.$background;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: options.$font;
  background-color: options.$background;
  background: linear-gradient(300deg, rgba(29,29,61,1) 0%, rgba(46,46,107,1) 69%, rgba(54,54,158,1) 100%);
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}