@use 'options';
@use 'animation/underline';

.footer {
  margin: 3em 0;
  text-align: center;
  font-size: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &__item {
    @include underline.underline-from-left();
  }

  &__link {  
    cursor: pointer;
    color: options.$font;
    text-decoration: none;
    padding: 1em 1.5em;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;

    span {
      margin-left: 1em;
    }
  }

  &__divider {
    width: 2px;
    height: 1.5em;
    background-color: rgba(255, 255, 255, 0.4);
    margin: 0 1em;
  }
}

@mixin footer--vertical() {
  .footer {
    flex-direction: column;

    &__divider {
      display: none;
    }
  }
}

  