@use 'main';
@use 'footer';

// Tablets, iPad
@media screen and (max-width: 768px) {
  @include main.main--md();
}

// Low res tablets and landscape mobile
@media screen and (min-width: 481px) and (max-width: 767px) {
  @include main.main--sm();
  @include footer.footer--vertical();
}

// Mobile phones
@media screen and (max-width: 480px) {
  @include main.main--xsm();
  @include footer.footer--vertical();
}