.projects {
    margin-top: 4.2em;
    .project {
        display: flex;
        flex-direction: row;
        margin-bottom: 3em;

        &__title {
            width: 100%;
            color: $black;
            font-weight: bold;
            font-size: 1.3em;
            margin-bottom: 0.3em;
            margin-top: 0;

            a {
                display: inline-flex;
                align-items: center;
                text-decoration: none;
                color: $black;
                transition: 0.25s ease all;

                &:hover {
                    color: $purple--light;
                }
            }

            .link-icon {
                margin-left: 0.5em;
                width: 0.8em;

                &:hover {
                    fill: $purple--light;
                }
            }
        }

        &__image {
            margin-right: 2em;
        }

        &--right {
            @extend .project;
            flex-direction: row-reverse;
            justify-content: space-between;

            &__image {
                margin-left: 2em;
            }
        }
    }

    &--grid {
        @extend .projects;
        margin-top: 0;
        
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0 2em;
    }
}

@mixin projects--sm() {
    .projects {
        h2 {
            margin-bottom: 1.5em;
        }
    
        .project {
            &__title {
                font-size: 3.5vw;
            }
        }

        &--grid {
            grid-template-columns: 1fr;
        }
    }
}

@mixin projects--xsm() {    
    .projects {
        margin-top: 2.5em;

        .project {
            @include project-xsm();

            &--right {
                @include project-xsm();
            }
        }

        &--grid {
            grid-template-columns: 1fr;
            gap: 2.5em 0;
        }
    }
}

@mixin project-xsm() {
    flex-direction: column;
    margin-bottom: 0;

    &__title {
        font-size: 7vw;
    }

    &__image {
        align-self: center;
        margin: 0;
        margin-top: 3em;
        margin-bottom: 1em;

        img {
            max-width: 70vw;
        }
    }
}
