.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    z-index: 1;
    width: $sidebar-width;
    max-width: $sidebar-max-width;
    height: 100%;
    background: $purple;
    background: linear-gradient(300deg, rgba(29,29,61,1) 0%, rgba(46,46,107,1) 69%, rgba(54,54,158,1) 100%);

    box-shadow: 4px 4px 20px 0 rgba(0,0,0,.2);
    white-space: nowrap;
    transition: max-width 0.5s ease;


    &__avatar {
        width: 100%;
        height: auto;
        max-width: 175px;
        border-radius: 50%;
        margin: 30px auto;
    }

    &__link {  
        color: rgb(180, 180, 224);
        text-decoration: none;
        padding: 1em 1.5em;
        display: flex;
        align-items: center;
        justify-content: space-between;

        // Animation courtesy of https://ianlunn.github.io/Hover/
        transform: perspective(1px) translateZ(0);
        position: relative;
        transition-property: color;
        transition-duration: 0.5s;

        &:hover, &:active, &:focus {
            &:before{
                transform: scaleX(1);
                // transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66); // Bounce
            }
        }

        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(255, 255, 255, 0.1);
            transform: scaleX(0);
            transform-origin: 0 50%;
            transition-property: transform;
            transition-duration: 0.3s;
            transition-timing-function: ease-out;
        }

    }
}

@mixin sidebar--md() {
    .sidebar {
        max-width: $sidebar-max-width--sm;

        &__link {
            span {
                display: none;
            }
        }
    }
}

@mixin sidebar--xsm() {
    .sidebar {
        width: 100%;
        max-width: none;
        height: 9vh;
        min-height: 50px;
        max-height: 90px;
        flex-direction: row;
        position: relative;

        &__avatar {
            margin: auto 0;
            margin-left: 5px;
            margin-right: auto;
            width: auto;
            height: 90%;
        }
    }
}