// Animation courtesy of https://ianlunn.github.io/Hover/

@use '../options';
@use 'compatibility';
@use 'mixins';

@mixin underline-from-left {
	$duration: 0.3s !default;

	@include compatibility.hacks();
	position: relative;
	overflow: hidden;

	&:before {
		content: "";
		position: absolute;
		z-index: -1;
		left: 0;
		right: 100%;
		bottom: 0;
		background: options.$underline-color;
		height: 3px;
		@include mixins.prefixed(transition-property, "right");
		@include mixins.prefixed(transition-duration, $duration);
		@include mixins.prefixed(transition-timing-function, ease-out);
	}

	&:hover, &:focus, &:active {
		&:before {
			right: 0;
		}
	}
}